body {
<<<<<<< HEAD
    font-family: serif, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

body div {
    margin: 1rem;
}

.boton-style {
    display: inline-block;
    width: 50px;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 15px 30px;
    text-decoration: none;
    color: #000000;
    background-color: rgb(234, 99, 252);
}

.boton-style:hover {
    background-color: rgb(26, 255, 0);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.name {
    text-align: center;
    font-size: 36px;
}

.surnames {
    text-align: center;
    font-size: 32px;
}


.title {
    text-align: center;
    font-size: 22px;
}

.relevantYearsOfExperience {
    font-size: 32px;
}

.alt {
    display: none;
}


.settings {
    display: none;
=======
    background-color: #d5d5d5;
>>>>>>> bbc4e533643e377d1459b2e50b51beca7f5123a0
}

.aboutMe {
    background-color: rgba(228, 245, 254, 0.962);

}

.profile {
    background-color: rgb(241, 165, 242);
    background-color: rgb(209, 230, 250);

}

.profile {
    background-color: rgba(243, 168, 242, 0.399);
}

.experience {
    background-color: rgb(251, 156, 23);
    background-color: rgba(228, 245, 254, 0.962);
}

.knowledge {
    background-color: rgb(169, 255, 65);
    background-color: rgba(228, 245, 254, 0.962);


}

.languages {
    background-color: rgb(183, 255, 115);
    background-color: rgba(243, 168, 242, 0.399);

}

.languages::before {
    color: rgb(113, 11, 238);

}

.hardSkills {
    background-color: rgb(183, 255, 115);
    background-color: rgba(243, 168, 242, 0.399);

}

.hardSkills::before {
    color: rgb(113, 11, 238);
}

.softSkills {
    background-color: rgb(183, 255, 115);
    background-color: rgba(243, 168, 242, 0.399);

}

.softSkills::before {
    color: rgb(113, 11, 238);
}

.studies {
    background-color: rgb(183, 255, 115);
    background-color: rgba(228, 245, 254, 0.962);

}

.studies::before {
    color: rgb(113, 11, 238);
}

.careerPreferences {
    background-color: rgb(249, 225, 36);
    background-color: rgba(228, 245, 254, 0.962);
}

.main_wrapper {
<<<<<<< HEAD
    background-color: #fff;
    border-radius: 10px;
=======
>>>>>>> bbc4e533643e377d1459b2e50b51beca7f5123a0
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-style {
    color: #007bff;
<<<<<<< HEAD
    text-decoration: none;
}

.link-style:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.section {
    margin-bottom: 40px;
=======
>>>>>>> bbc4e533643e377d1459b2e50b51beca7f5123a0
}

.section-header {
    background-color: #f2f2f2;
<<<<<<< HEAD
    padding: 10px;
}

.section-content {
    padding: 10px;
}

.section-content p {
    margin: 5px 0;
}

.section-content ul {
    padding-left: 20px;
=======
>>>>>>> bbc4e533643e377d1459b2e50b51beca7f5123a0
}